/* hoja de estilos */

p {
    color: blue; 
    font-size: 40px;
}

pre {
    color: red; 
    font-size: 30px;
}

/*Clase*/
 .parrafo {
    color: green; 
    font-size: 30px;
 }

 /*ID*/
 #texto{
    color: greenyellow; 
    font-size: 20px;
 }