/* main {
    background-color: red;
    width:600px;
    height: 500px
} */

/* body{
    font-size: 20px;
} */
.text-container {
    font-size: 1.5em;
    /*los em toma el tamaño de fuente directo del contenedor padre*/
}
.text-container div{
    font-size: 1.5em;
    /*los em toma el tamaño de fuente directo del contenedor padre*/
}